<div class="row">
  <div class="col-lg-12">
    <h3>Vagas </h3>
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar Candidatos">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Buscar</button>
        </span>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{#each item in model}}
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading"><h4>{{item.title}}</h4></div>
          <div class="panel-body">
            Descrição: {{item.description}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
