.itens
  .panel
    .panel-heading
      p
        height 20px !important
        width 100px !important

.vagas-item
  width auto !important
  float left
  margin-left 5px
  font-weight bold
  .panel
    border 0px
    .panel-heading
      border-top-right-radius 23px !important
      border-bottom-right-radius 23px !important
      border-right 3px #fff solid
      border-bottom 1px #fff solid