<div class="row">
  <div class="col-lg-12">
    <h3>Candidatos compatíveis </h3>
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar Candidatos">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Buscar</button>
        </span>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading"><h4>Tagon8</h4></div>
        <div class="panel-body">
          Descrição: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading"><h4>Tagon8</h4></div>
        <div class="panel-body">
          Descrição: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        </div>
      </div>
    </div>
  </div>
</div>
