<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
      {{#link-to 'dashboard' class="navbar-brand"}}
        <img src="images/logobco.png" height="50" style="float: left;
    margin-top: -15px;">
      {{/link-to}}
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul id="active" class="nav navbar-nav side-nav">
      <li class="selected">{{#link-to 'dashboard'}}<i class="fa fa-globe"></i> Dashboard{{/link-to}}</li>
      <li>{{#link-to 'jobs'}}<i class="fa fa-thumb-tack"></i> Vagas{{/link-to}}
      <ul>
        <li>{{#link-to 'jobs.new'}}Novo{{/link-to}}</li>
        <li>{{#link-to 'jobs.show'}}Visualizar{{/link-to}}</li>
      </ul>
      </li>
      <li>{{#link-to 'employer'}}<i class="fa fa-suitcase"></i> Empresas{{/link-to}}
        <ul>
          <li>{{#link-to 'employer.new'}}Novo{{/link-to}}</li>
          <li>{{#link-to 'employer.show'}}Visualizar{{/link-to}}</li>
        </ul>
      </li>
      <li>{{#link-to 'candidate'}}<i class="fa fa-users"></i> Candidatos{{/link-to}}
        <ul>
          <li>{{#link-to 'candidate.new'}}Novo{{/link-to}}</li>
{{!--           <li>{{#link-to 'candidate.show'}}Visualizar{{/link-to}}</li>
 --}}        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-user">
      <li class="dropdown messages-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">2 New Messages</li>
          <li class="message-preview">
            <a href="#">
              <span class="avatar"><i class="fa fa-bell"></i></span>
              <span class="message">Security alert</span>
            </a>
          </li>
          <li class="divider"></li>
          <li class="message-preview">
            <a href="#">
              <span class="avatar"><i class="fa fa-bell"></i></span>
              <span class="message">Security alert</span>
            </a>
          </li>
          <li class="divider"></li>
          <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
        </ul>
      </li>
      <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Steve Miller<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>{{#link-to 'profile'}}<i class="fa fa-user"></i> Profile{{/link-to}}</li>
          <li>{{#link-to 'settings'}}<i class="fa fa-gear"></i> Settings{{/link-to}}</li>
          <li class="divider"></li>
          <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<style type="text/css">
  .side-nav {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .side-nav * {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }

  .side-nav li:hover ul {
    display: block;
  }
  .side-nav li ul {
    list-style: none;
    display: none;
  }
  .side-nav li ul li{
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
    padding-bottom: 10px;
  }
  .side-nav li ul li a{
    text-decoration: none;
  }
  .side-nav li ul li:hover{
    background: #333;
    -moz-box-shadow: inset 3px 0 0 0 #fed136;
    -webkit-box-shadow: inset 3px 0 0 0 #fed136;
    box-shadow: inset 3px 0 0 0 #fed136;
    -webkit-transition: all 0.5s ease !important;
    -moz-transition: all 0.5s ease !important;
    -o-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
  }
</style>
