<style type="text/css">
  .selectize-input {
    background: #545454 !important;
    border: 1px solid #282828 !important;
  }

  .btn-amarelo{
    background: #fed136;
    color: #2B2B2B;
  }
</style>
{{!-- {{#if isAuthenticated}} --}}
  <div id="wrapper">
    {{application-menu}}
    <div id="page-wrapper">
      {{outlet}}
    </div>
  </div>
{{!-- {{else}}
  {{outlet}}
{{/if}} --}}