<div class="row">
  <div class="col-lg-12">
    <h1>Dashboard </h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-thumb-tack"></i> Vagas Disponiveis </h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <th>Vaga</th>
            <th>Empresa</th>
            <th>Cidade</th>
            <th>Bairro</th>
            <th>&nbsp;</th>
          </thead>
          <tbody>
          {{#each event in persistEvent}}
            {{list-event event=event action="type"}}
          {{else}}
            <tr ng-show="events.length < 1">
              <td colspan="5">Nenhuma vaga disponivel</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
