<div id="wrapper">
  {{application-menu}}
  <div id="page-wrapper">
    <div class="col-md-8">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-magnet"></i> Server Overview</h3>
            </div>
            <div class="panel-body">
                <ul class="server-stats">
                    <li>
                        <div class="key pull-right">CPU</div>
                        <div class="stat">
                            <div class="info">60% / 37°C / 3.3 Ghz</div>
                            <div class="progress progress-small">
                                <div style="width: 70%;" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="key pull-right">Mem</div>
                        <div class="stat">
                            <div class="info">29% / 4GB (16 GB)</div>
                            <div class="progress progress-small">
                                <div style="width: 29%;" class="progress-bar"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="key pull-right">LAN</div>
                        <div class="stat">
                            <div class="info">6 Mb/s <i class="fa fa-caret-down"></i>&nbsp; 3 Mb/s <i class="fa fa-caret-up"></i></div>
                            <div class="progress progress-small">
                                <div style="width: 48%;" class="progress-bar progress-bar-inverse"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5 class="tab-header">Perfils Encontrados</h5>
            </div>
            <div class="panel-body tab-content">
                <div class="tab-pane clearfix active" id="stats">
                    <ul class="news-list">
                        <li>
                            <i class="fa fa-user fa-4x pull-left"></i>
                            <div class="news-item-info">
                                <div class="position">
                                  Encontrado <a href="">dez</a>  perfils para a vaga de emprego de <a href="">Empresa 1</a>.
                                  <i>2 m atrás</i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-user fa-4x pull-left"></i>
                            <div class="news-item-info">
                                <div class="position">
                                  Encontrado <a href="">cinco</a>  perfils para a vaga de emprego de <a href="">Empresa 4</a>.
                                  <i>9 m atrás</i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-user fa-4x pull-left"></i>
                            <div class="news-item-info">
                                <div class="position">
                                  Encontrado <a href="">treze</a>  perfils para a vaga de emprego de <a href="">Empresa 7</a>.
                                  <i>2 h atrás</i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-user fa-4x pull-left"></i>
                            <div class="news-item-info">
                                <div class="position">
                                  Encontrado <a href="">nove</a>  perfils para a vaga de emprego de <a href="">Empresa18</a>.
                                  <i>13 h atrás</i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-user fa-4x pull-left"></i>
                            <div class="news-item-info">
                                <div class="position">
                                  Encontrado <a href="">quatro</a>  perfils para a vaga de emprego de <a href="">Empresa 7</a>.
                                  <i>20 h atrás</i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>
